:root{
    --cor-primaria: #ee4d2d;
    --gradiente-primario: linear-gradient(#672deec2,#672deea6,#9437ffa4);
}

header{
    background: var(--gradiente-primario);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 125px;
}

nav{
    display: flex;
    justify-content: space-between;
}

nav>ul{
    margin: 0;
    display: flex;
}

nav>ul>li{
    list-style: none;
    padding: 0;
}